@media only screen and (max-width: 1440px) {

    p {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .heading .subhead {
        font-size: 13px;
        font-weight: 800;
    }

    .heading {
        margin-top: 10px;
    }

    .value .department {
        font-size: 20px;
    }

    .row {
        margin-top: -136px;
    }

    .job-details-area h6.title {
        font-size: 20px;
    }

    .section-title {
        text-align: center;

        margin-top: 80px;
    }

    .job-details-area span {
        font-size: 15px;
        font-weight: 400;
        padding: -1px;
    }

    .job-details-area .sub-title {
        margin-top: 22px;
        font-size: 17px;
        line-height: 22px;
        font-weight: 500;
        letter-spacing: 0.2px;
        color: #b71919;
        margin-bottom: -3px;
        padding: -1px;
    }

    .career {
        padding: 0px 20px 0px 20px;
    }

}

@media screen and (min-width:768px) and (max-width:1550px) {
    .pd {
        padding: 0px 0px 70px 0px !important;
    }
}
@media only screen and (min-width:300px) and (max-width: 700px){
    .section-title {
        text-align: center;
        margin-top: 0px;
    }
}

