.description {
    padding: 1rem 0rem;
}


.testi {
    padding: 0px 21px;
}

.card2 {
    min-height: 340px !important;
}

.vertical:nth-child(3) {
    border: none;
}

.w-100 {
    color: teal;
    font-size: 26px;
}

.close {
    background-color: white;
    border: none;
}

.modal-footer {
    background-color: teal;
}

.md-form label {
    color: #323338;
    font-size: 14px;
}

.md-form i {
    color: #383838;
}

@media only screen and (max-width: 425px) {
    #clients .client-logo {
        padding: 25px;
    }

    .review-single .review-content .review-bio span {
        line-height: 1.3rem !important;
    }

    .wrapper {
        display: inline-grid;
        /* grid-template-columns: 50px 50px 50px 50px; */
        border: 1px solid #b7a7a752 !important;
        grid-gap: 0px;
        /* background-color: black; */
    }

    .card-text {
        font-size: 14px !important;
        line-height: 1.7 !important;
    }
    .cl_logo{
width: 136px !important;
height: 100px !important;
}
}

ul.list_4 {
    list-style: none;
    margin: 0 0 20px;
    padding: 0;
}

ul.list_4 li {
    width: 99%;
    font-size: 12px;
    padding: 0px;
    margin-bottom: 0;
    display: block;
    /* padding-left: 24px; */
    /* margin-right: 15px; */
    position: relative;
}

.section-header h3 {
    font-size: 32px;
    color: #050505;
    text-align: center;
    font-weight: 900;
    position: relative;
    font-family: var(--font-2);
}

@media only screen and (max-width: 767px) {
    .about-title {
        font-size: 32px;
        margin-bottom: 3rem;
        margin-top: 120px;
    }

    .section-header h3 {
        font-size: 20px;
    }
}

#clients {
    padding: 60px 0 0;

}

#clients .clients-wrap {
    border-top: 0px solid #5f1212;
    border-left: 0px solid #5f1212;
    margin-bottom: 30px;
}

#clients .client-logo {
    padding: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 0px solid #5f1212;
    border-bottom: 0px solid #5f1212;
    overflow: hidden;
    background: #fff;
    height: 160px;
}

#clients img {
    transition: all 0.4s ease-in-out;
}

@media only screen and (min-width: 1500) and (max-width:2000) {
    .about-right .about-padding-right {
        padding-right: 7rem;
    }
}

@media screen and (max-width:320) and (max-width:990) {
    .feature-box .feature-icon {
        margin-top: 44px;
    }
}

@media screen and (max-width:768) and (max-width:1440) {
    img .pimage {
        margin-top: -39px;
    }
}

.review-single .review-content .review-bio span {
    line-height: 2.2rem !important;
}

@media only screen and (max-width: 767px) {
    .bsnav-mobile .navbar-nav .nav-item .nav-link {
        padding-top: 0rem;
    }
}
.wrapper {
    display: inline-grid;
    /* grid-template-columns: 50px 50px 50px 50px; */
    border: 1px solid #b7a7a752;
    grid-gap: 0px;
    /* background-color: black; */
}

.wrapper>div {
    background-color: white;
    /* padding: 15px; */
    /* text-align: center; */
}

.cl_logo {
    width: 220px;
    height: 100px;
}
