{% extends 'web/partials/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'web/benefits.css' %}">
<link rel="stylesheet" href="{% static 'web/css/indian.css' %}">



<main class="main">
    <div class="site-breadcrumb head1">
        <div class="container">
            <h2 class="breadcrumb-title brtitle head" style="">{{indian_banner.Title}}</h2>

        </div>
        <span class="benefits">
            {{indian_banner.Description|safe}}
        </span>
    </div>

    <div class="container">
        <div class="row mt pd">
            {% for i in indian_benefits %}
            <div class="col-lg-4 col-md-6 d-flex justify-content-center">

                <div class="card height d-flex justify-content-center bluecard" style="background-color: {% cycle '#e8f7fa' 'white' %};">
                    <h3 class="card-title">
                       {{i.Title}}
                    </h3>
                    <span class="card-content">
                        {{i.Description|safe}}
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>



{% endblock %}