<div id="home" class="hero-section" style="padding: 10px;">
    <div class="hero-sliderr">
        <!-- owl Slider Begin -->
        <div class="hero-single">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 offset-xl-2">
                        <div class="hero-content text-center">
                            <span class="top-title wow fadeInDown" data-wow-duration="1s"
                                data-wow-delay=".3s">Business Consulting Agency</span>
                            <h2 data-splitting class="home-title wow text-dark" data-wow-duration=".1s"
                                data-wow-delay=".2s"
                                >
                                DELIVERING
                                THE ULTIMATE
                                EXPERIENCE
                                TO THE ENDUSER
                            </h2>
                            <p>
                                Reliability, Affordability, Customizability.
                            </p>
                            <div class="hro-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                <a href="{% url 'web:about' %}" class="theme-btn">
                                    Explore More <i class="icofont-long-arrow-right"></i>
                                </a>
                                <div class="how-we-work">
                                    <a href="https://www.youtube.com/watch?v=ku6dEtynrRI"
                                        class="item popup-youtube">
                                        <i class="fas fa-play"></i>
                                        <span class="how-txt">How we work</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- single Slider End -->
    </div>
</div>