{% load static %}

<link rel="stylesheet" href="{% static 'web/footer.css' %}">

<style>
       .foot-title{
        font-size: 14px;
    }
</style>


<!-- <footer style="margin-top: 80px;"> -->
    <footer >
    

    <div class="footer-widget">
        <!-- <div class="container-fluid " style="background: #f1f1f1;">
            <div class="footer-widget-wrapper de-pb" >
                <div class="row g-5 mt-5 ms-5 me-5 mt-5">
                    <div class="col-xl-2 col-sm-3 col-lg-6 text-center">
                        <div class="footer-widget-box">
                            <h5 class="footer-widget-title foot-title">APPS</h5>
                            <ul class="footer-list">
                                <li><a href="#">Crm</a></li>
                                <li><a href="#">Hrm</a></li>
                                <li><a href="#">Fiesta</a></li>
                                <li><a href="#">Courier And Cargo </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-3 col-lg-6 text-center">
                        <div class="footer-widget-box">
                            <h5 class="footer-widget-title foot-title">PARTNERS</h5>
                            <ul class="footer-list">
                                <li><a href="#">Clickripple</a></li>
                                <li><a href="#">Fiesta</a></li>
                                <li><a href="#">Amiyon </a></li>
                                <li><a href="#">Mehery</a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-xl-2 col-sm-3 col-lg-6 text-center">
                        <div class="footer-widget-box">
                            <h5 class="footer-widget-title foot-title">ABOUT</h5>
                            <ul class="footer-list">
                                <li><a href="#">About Onflap</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="{% url 'web:testimonial' %}">Testimonial</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Career</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-2 col-sm-3 col-lg-6 text-center">
                        <div class="footer-widget-box">
                            <h5 class="footer-widget-title foot-title">INDIA</h5>
                            <ul class="footer-list">
                                <li><a href="#">+ 91 484 2955885</a></li>
                                <li><a href="#">+ 91 628 2307829</a></li>
                                <li><a href="#">info@onflap.com</a></li>
                                <li><a href="#">www.onflap.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-3 col-lg-6 text-center">
                        <div class="footer-widget-box">
                            <h5 class="footer-widget-title foot-title">KUWAIT</h5>
                            <ul class="footer-list">
                                <li><a href="#">+ 965 22056939</a></li>
                                <li><a href="#">+ 965 97708442</a></li>
                                <li><a href="#">sales@tracoms.com</a></li>
                                <li><a href="#">www.tracoms.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-3 col-lg-6 text-center">
                        <div class="footer-widget-box">
                            <h5 class="footer-widget-title foot-title">DUBAI</h5>
                            <ul class="footer-list">
                                <li><a href="#">+ 965 22056939</a></li>
                                <li><a href="#">+ 965 97708442</a></li>
                                <li><a href="#">sales@tracoms.com</a></li>
                                <li><a href="#">www.tracoms.com</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div> -->

        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-8 mx-auto">
                    <form action="">
                        <div class="input-group mb-4">
                            <input type="search" placeholder="Search here..." aria-describedby="button-addon5"
                                class="form-control">
                            <div class="input-group-append">
                                <button id="button-addon5" type="submit" class="btn btn-primary"
                                    style="height: 44px; width: 44px ;"> <i class="fa fa-search"> </i> </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <ul class="ZPprivacy nav navbar navbar-left d-flex d-inline-flex justify-content-center">
                <li class=""><a href="/">Onflap Home</a></li> <span class="cw_loc_div"></span>
                <li class=""><a href="">Contact Us</a></li> <span class="cw_loc_div"></span>
                <li><a href="">Security</a></li> <span class="cw_loc_div"></span>
                <li><a href="">Testimonial</a></li> <span class="cw_loc_div"></span>
                <li><a href=""> Anti-spam Policy</a></li> <span class="cw_loc_div"></span>
                <li class="footer-terms"><a href="">Terms of Service</a></li> <span class="cw_loc_div"></span>
                <li><a href="">Privacy Policy</a></li> <span class="cw_loc_div"></span>
                <li><a href="">Abuse Policy</a></li>
            </ul>
 
            <div class="text-center">
                <p class="text-dark">
                    © 2022, Onflap. All Rights Reserved.
                </p>
            </div>

            <div class="copyright justify-content-center">
                <ul class="footer-social">
                    <li><a target="_blank" href="https://www.facebook.com/onflaptech/"><i
                                class="fab fa-facebook-f"></i></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/onflaptech/?igshid=1b8qlek00fuj"><i
                                class="fab fa-instagram"></i></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/company/onflap-technologies/about/"><i
                                class="fab fa-linkedin-in"></i></a></li>
                    <li><a target="_blank" href="#"><i class="fab fa-youtube"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/OnflapT"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>