{% load static %}

<link rel="stylesheet" href="{% static 'web/footer.css' %}">


<footer>
    <!-- Start Subscribe
    ============================================= -->
    <div class="sub-area de-padding" style="background-image: url({% static 'web/web-2.png' %})">
        <div class="container">
            <div class="sub-wpr grid-2">
                <div class="sub-left">
                    <div class="site-title">
                        <span class="about-sub-title wh">Newsletter</span>
                        <h2 data-splitting class="about-title wh mb-0 wow" data-wow-duration=".1s" data-wow-delay=".6s">
                            To get Our Weekly & Monthly News.
                            Subscribe Newsletter.
                        </h2>
                    </div>
                    <form class="sub-form wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <input type="text" placeholder="Your e-mail Address" class="input-style-1">
                        <button type="submit" class="sub-btn hv btn-3">Subscribe</button>
                    </form>
                </div>
                <div class="sub-right text-center">
                    <!-- <img src="{% static 'web/img/subscribe/sub-right.png' %}" alt="thumb"> -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Subscribe -->

    <div class="footer-widget">
        <div class="container-fluid " style="background: #f1f1f1;">
            <div class="footer-widget-wrapper de-pb">
                <div class="row g-5 mt-5 ms-5 me-5 mt-5">
                    <div class="col-xl-2 col-sm-3 col-lg-6">
                        <div class="footer-widget-box">
                            <h4 class="footer-widget-title">Apps</h4>
                            <ul class="footer-list">
                                <li><a href="#">CRM</a></li>
                                <li><a href="#">HRM</a></li>
                                <li><a href="#">FIESTA</a></li>
                                <li><a href="#">COURIER AND CARGO</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-3 col-lg-6">
                        <div class="footer-widget-box">
                            <h4 class="footer-widget-title">PARTNERS</h4>
                            <ul class="footer-list">
                                <li><a href="#">CLICKRIPPLE</a></li>
                                <li><a href="#">FIESTA</a></li>
                                <li><a href="#">AMIYON</a></li>
                                <li><a href="#">MEHERY</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-2 col-sm-3 col-lg-6">
                        <div class="footer-widget-box">
                            <h4 class="footer-widget-title">RESOURCES</h4>
                            <ul class="footer-list">
                                <li><a href="#">TIPS & TRICKS</a></li>
                                <li><a href="#">NEWSLETTER</a></li>
                                <li><a href="#">PRIVACY & POLICY</a></li>
                                <li><a href="#">SUPPORT</a></li>
                                <li><a href="#">COMMUNITY</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-2 col-sm-3 col-lg-6">
                        <div class="footer-widget-box">
                            <h4 class="footer-widget-title">ABOUT</h4>
                            <ul class="footer-list">
                                <li><a href="#">ABOUT ONFLAP</a></li>
                                <li><a href="#">TERMS & CONDITIONS</a></li>
                                <li><a href="{% url 'web:blog' %}">BLOG</a></li>
                                <li><a href="{% url 'web:testimonial' %}">TESTIMONIAL</a></li>
                                <li><a href="#">CONTACTUS</a></li>
                                <li><a href="#">CAREER</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-2 col-sm-3 col-lg-6">
                        <div class="footer-widget-box">
                            <h4 class="footer-widget-title">INDIA</h4>
                            <ul class="footer-list">
                                <li><a href="#">+ 91 484 2955885</a></li>
                                <li><a href="#">+ 91 628 2307829</a></li>
                                <li><a href="#">info@onflap.com</a></li>
                                <li><a href="#">www.onflap.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-3 col-lg-6">
                        <div class="footer-widget-box">
                            <h4 class="footer-widget-title">KUWAIT</h4>
                            <ul class="footer-list">
                                <li><a href="#">+ 965 22056939</a></li>
                                <li><a href="#">+ 965 97708442</a></li>
                                <li><a href="#">sales@tracoms.com</a></li>
                                <li><a href="#">www.tracoms.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-8 mx-auto">
                    <form action="">
                        <div class="input-group mb-4">
                            <input type="search" placeholder="Search here..." aria-describedby="button-addon5"
                                class="form-control">
                            <div class="input-group-append">
                                <button id="button-addon5" type="submit" class="btn btn-primary"
                                    style="height: 44px; width: 44px ;"> <i class="fa fa-search"> </i> </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <ul class="ZPprivacy nav navbar navbar-left d-flex d-inline-flex justify-content-center">
                <li class=""><a href="/">Onflap Home</a></li> <span class="cw_loc_div"></span>
                <li class=""><a href="">Contact Us</a></li> <span class="cw_loc_div"></span>
                <li><a href="">Security</a></li> <span class="cw_loc_div"></span>
                <li><a href="">Compliance</a></li> <span class="cw_loc_div"></span>
                <li><a href="">IPR Complaints</a></li> <span class="cw_loc_div"></span>
                <li><a href=""> Anti-spam Policy</a></li> <span class="cw_loc_div"></span>
                <li class="footer-terms"><a href="">Terms of Service</a></li> <span class="cw_loc_div"></span>
                <li><a href="">Privacy Policy</a></li> <span class="cw_loc_div"></span>
                <li><a href="" class="gdprc">GDPR Compliance</a></li> <span class="cw_loc_div"></span>
                <li><a href="">Abuse Policy</a></li>
            </ul>

            <div class="text-center">
                <p class="text-dark">
                    © 2022, Onflap Corporation Pvt. Ltd. All Rights Reserved.
                </p>
            </div>

            <div class="copyright justify-content-center">
                <ul class="footer-social">
                    <li><a target="_blank" href="https://www.facebook.com/onflaptech/"><i
                                class="fab fa-facebook-f"></i></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/onflaptech/?igshid=1b8qlek00fuj"><i
                                class="fab fa-instagram"></i></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/company/onflap-technologies/about/"><i
                                class="fab fa-linkedin-in"></i></a></li>
                    <li><a target="_blank" href="#"><i class="fab fa-youtube"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/OnflapT"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</footer>