{% load static %}

<style>
    .footer-widget-box .footer-list li {
        line-height: 1.5rem;
    }

    .mt-5 {
        margin-top: 0rem !important;
    }

    .input-group {
        margin-top: 5rem !important;
    }

    .de-pb {
        padding-bottom: 4rem;
    }

    .has-search .form-control {
        padding-left: 2.375rem;
    }

    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }

    .form-control-underlined {
        border-width: 0;
        border-bottom-width: 1px;
        border-radius: 0;
        padding-left: 0;
    }

    .form-control:focus {
        box-shadow: none;
    }

    h2 {
        font-family: 'Indie Flower', cursive;
        font-size: 32px;
        color: white;
        font-weight: bold;
        margin-top: 20px;
    }

    .form-control::placeholder {
        font-size: 0.95rem;
        color: #aaa;
        font-style: italic;
    }
</style>


<footer>
    <!-- <div class="footer-shape">
    </div> -->
    <div class="footer-widget">
        <div class="container-fluid " style="background: #f1f1f1;">
            <div class="footer-widget-wrapper de-pb">
                <div class="row g-5 mt-5 ms-5 me-5 mt-5">
                    <!-- <div class="col-xl-5 col-sm-6 col-lg-6">
                        <div class="footer-widget-box ab-us">
                        </div>
                    </div> -->
                    <div class="col-xl-2 col-sm-3 col-lg-6">
                        <div class="footer-widget-box">
                            <h4 class="footer-widget-title">Apps</h4>
                            <ul class="footer-list">
                                <li><a href="#">CRM</a></li>
                                <li><a href="#">HRM</a></li>
                                <li><a href="#">FIESTA</a></li>
                                <li><a href="#">COURIER AND CARGO</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-3 col-lg-6">
                        <div class="footer-widget-box">
                            <h4 class="footer-widget-title">PARTNERS</h4>
                            <ul class="footer-list">
                                <li><a href="#">CLICKRIPPLE</a></li>
                                <li><a href="#">FIESTA</a></li>
                                <li><a href="#">AMIYON</a></li>
                                <li><a href="#">MEHERY</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-2 col-sm-3 col-lg-6">
                        <div class="footer-widget-box">
                            <h4 class="footer-widget-title">RESOURCES</h4>
                            <ul class="footer-list">
                                <li><a href="#">TIPS & TRICKS</a></li>
                                <li><a href="#">NEWSLETTER</a></li>
                                <li><a href="#">PRIVACY & POLICY</a></li>
                                <li><a href="#">SUPPORT</a></li>
                                <li><a href="#">COMMUNITY</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-2 col-sm-3 col-lg-6">
                        <div class="footer-widget-box">
                            <h4 class="footer-widget-title">ABOUT</h4>
                            <ul class="footer-list">
                                <li><a href="#">ABOUT ONFLAP</a></li>
                                <li><a href="#">TERMS & CONDITIONS</a></li>
                                <li><a href="#">BLOG</a></li>
                                <li><a href="#">TESTIMONIAL</a></li>
                                <li><a href="#">CONTACTUS</a></li>
                                <li><a href="#">CAREER</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-2 col-sm-3 col-lg-6">
                        <div class="footer-widget-box">
                            <h4 class="footer-widget-title">INDIA</h4>
                            <ul class="footer-list">
                                <li><a href="#">+ 91 484 2955885</a></li>
                                <li><a href="#">+ 91 628 2307829</a></li>
                                <li><a href="#">info@onflap.com</a></li>
                                <li><a href="#">www.onflap.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-3 col-lg-6">
                        <div class="footer-widget-box">
                            <h4 class="footer-widget-title">KUWAIT</h4>
                            <ul class="footer-list">
                                <li><a href="#">+ 965 22056939</a></li>
                                <li><a href="#">+ 965 97708442</a></li>
                                <li><a href="#">sales@tracoms.com</a></li>
                                <li><a href="#">www.tracoms.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-8 mx-auto">
                    <!-- <div class="bg-white p-5 rounded shadow"> -->
                    <form action="">
                        <div class="input-group mb-4">
                            <input type="search" placeholder="Search here..." aria-describedby="button-addon5"
                                class="form-control">
                            <div class="input-group-append">
                                <button id="button-addon5" type="submit" class="btn btn-primary"
                                    style="height: 44px; width: 44px ;"> <i class="fa fa-search"> </i> </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
                <ul class="ZPprivacy nav navbar navbar-left d-flex d-inline-flex justify-content-center">
                    <li class=""><a href="/">Onflap Home</a></li>
                    <li class=""><a href="/contactus.html">Contact Us</a></li>
                    <li><a href="/security.html">Security</a></li>
                    <li><a href="/compliance.html">Compliance</a></li>
                    <li><a href="/ipr-complaints.html">IPR Complaints</a></li>
                    <li><a href="/policy.html"> Anti-spam Policy</a></li>
                    <li class="footer-terms"><a href="/terms.html">Terms of Service</a></li>
                    <li><a href="/privacy.html">Privacy Policy</a></li>
                    <li class="cookie-policy"><a href="https://www.zoho.com/privacy/cookie-policy.html">Cookie Policy</a>
                    </li>
                    <li><a href="/gdpr.html" class="gdprc">GDPR Compliance</a></li>
                    <li><a href="/abuse-policy/">Abuse Policy</a></li>
                </ul>
            </div>
        </div>
        
    </div>


    <style>
        .ZPprivacy li{
            display: block;
            padding: 10px;
        }
    </style>
    </div>
</footer>