<!-- <div class="banner-text">
                                <span>TECH</span>
                            </div> -->
                            <!-- <div class="banner-left-content">
                                <div class="banner-left-video">
                                    <div class="circle">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px"
                                            height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300"
                                            xml:space="preserve">
                                            <defs>
                                                <path id="circlePath"
                                                    d=" M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 " />
                                            </defs>
                                            <circle cx="150" cy="100" r="75" fill="none" />
                                            <g>
                                                <use xlink:href="#circlePath" fill="none" />
                                                <text fill="#3249b3">
                                                    <textPath xlink:href="#circlePath">Onflap * Onflap * Onflap * Onflap
                                                        * Onflap * Onflap * Onflap * Onflap * Onflap * Onflap * Onflap *
                                                    </textPath>
                                                </text>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="video-main">
                                        <div class="promo-video">
                                            <div class="waves-block">
                                                <div class="waves wave-1"></div>
                                                <div class="waves wave-2"></div>
                                                <div class="waves wave-3"></div>
                                            </div>
                                        </div>
                                        <a class="video-icon video" data-rel="lightcase:myCollection"
                                            href="https://www.youtube.com/embed/LRhrNC-OC0Y">
                                            <i class="fas fa-play"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="banner-left-arrow">
                                    <img src="{% static 'sof/images/element/element-1.png' %}" alt="element">
                                </div>
                                <div class="banner-left-intro">
                                    <span>Play Intro</span>
                                </div>
                                <div class="banner-left-footer">
                                    <p>Personalization assumed up an excess of position in the showcasing space and has
                                        made each and every one of your messages exhausting and without feelings.</p>
                                    <div class="banner-left-btn">
                                        <a href="{% url 'web:contact' %}" class="btn--base active">Contact Us</a>
                                    </div>
                                </div>
                            </div> -->