{% extends 'web/partials/base.html' %}
{% block content %}
{% load static %}

<style>
    .wrapper {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.head{
    margin-top: 78px;
    font-size: 32px;
    text-transform: capitalize;
    color: var(--heading-color);
    font-weight: bold;
}

.job{
    margin-bottom: 0.5rem;
    padding: 2px 93px;
    justify-content: center;
    text-align: center;
}

.card {
   
    max-width: 315px;
    min-height: 250px;
    background: white;
    padding: 30px;
    border-radius: 3px;
    box-sizing: border-box;
    color: black;
    /* margin: 20px; */
    box-shadow: rgb(50 50 93 / 25%) 8px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
    margin-top: 4px;
}

.card-title {
    margin-top: 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.2px;
}

.card-content {
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.card-btn {
    all: unset;
    display: block;
    margin-left: auto;
    border: 2px solid #b71919;
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 10px;
    font-weight: 600;
    transition: all 0.5s;
    cursor: pointer;
    letter-spacing: 1.2px;
    position: absolute;
    margin: 220px 0px 0px 151px;
}



p {
    margin-bottom: 1.5rem;
    color: #3e3e40;
    line-height: 2.5rem;
    /* text-align: center; */
    font-size: 14px;
}
    .cw_loc_div {
        opacity: .3;
        margin: 0 15px;
        width: 1px;
        height: 22px;
        background-color: #707070;
        display: inline-flex;
        position: relative;
        align-items: center;
    }
    .subhead{
        font-size: 20px;
    }
    .listtype {
    padding-left: 13px;
    position: relative;
    margin-bottom: 4px;
    list-style: none;
    font-family: var(--zf-primary-regular) !important;
    font-size: 17px;
}
.cw_jd_innr {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.text{
    font-size: 15px !important;
    letter-spacing: 0;
    font-family: var(--zf-primary-regular);
    line-height: 1.9;
    color: var(--secondary-color);
    background-color: unset !important;
}

@media only screen and (max-width: 330px) {
    .brtitle {
        margin-top: 60px;
        font-size: 1.5rem;
    }

    .height {
        margin-top: -77px;
    }

    .head1 .brtitle {
        font-size: 2rem;
        font-weight: 600;
    }

}

@media only screen and (max-width: 430px) {
    .card {
        margin-bottom: 98px;
    }
    .job{
        padding: 2px 10px 46px;
        text-align: center;
    }
}

.card {
    margin-bottom: 98px;
    height: 316px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .card-btn {
        position: absolute;
        margin: 324px 0px 0px 122px;
    }

    .card {
        height: 316px;
    }
}
.job-redirect-button {
padding: 15px 4px;
border: 3px solid #0097a4;
color: #fff;
display: inline-block;
font-size: 18px;
margin-right: 20px;
margin-bottom: 30px;
}

.margin-top-10 {
    margin-top: 10px;
}
@media (min-width: 1200px){
    .col-lg-offset-3 {
    margin-left: 25%;
}
}

@media (min-width: 1200px){
    .col-lg-6 {
    width: 50%;
}
}
.job-redirect-button span {
    background: #0097a4;
    padding: 10px;
}



</style>


<link rel="stylesheet" href="{% static 'web/career.css' %}">

<main class="main">
    <div class="site-breadcrumb head1">
        <div class="container">
            <h2 class="breadcrumb-title brtitle head">Some opportunities for you to explore</h2>
           
        </div>
        <p class="job">
            Rated amongst the fastest-growing companies, Onflap is built on a strong vision and corporate philosophy
            of continuous adaptation, client service, and professional growth. With one of the lowest attrition
            rates in the industry, onflap’s investment in its team members provides an ideal working environment that
            fosters opportunities to innovate, learn, and excel. Our onflap Family is always growing, and we look
            forward to welcoming new members who are looking to expand their potential and place their careers on a
            path to success.
        </p>
    </div>

    <div class="container">
        <div class="row">
            {% for job in jobs %}
            <div class="col-lg-4 col-md-6">

                <div class="card height d-flex" style="">
                    <h3 class="card-title">{{job.job_title}}</h3><br><br>
                    <p class="card-content">
                        {{job.location|capfirst}}
                        <!-- {{job.job_description|safe}} -->
                    </p>
                    <p class="card-content">
                        {{job.work_mode|capfirst}}
                    </p>
                    <p class="card-content">
                        {{job.experience|capfirst}}
                    </p>
                    <a href="{% url 'web:careerdetails' job.id %}" class="card-btn fixed-bottom" style="">READ MORE</a>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>

    <div _ngcontent-ayi-c20="" class="col-xs-12 col-md-10 col-lg-6 col-md-offset-1 col-lg-offset-3 text-center margin-bottom-20 margin-top-20">
        <a _ngcontent-ayi-c20="" href="" target="_blank" class="job-redirect-button margin-top-10">
            <span _ngcontent-ayi-c20="">Kuwait Benefits </span>
        </a>
        <a _ngcontent-ayi-c20="" href="{% url 'web:indianbenfits' %}" target="_blank" class="job-redirect-button margin-top-10">
            <span _ngcontent-ayi-c20="">India Benefits </span>
        </a>
    </div>
    



</main>


{% endblock %}