{% extends 'web/partials/base.html' %}
{% block content %}
{% load static %}

<style>
    @media only screen and (max-width: 330px){
        .brtitle{
            margin-top: 60px;
            font-size: 1.5rem;
        }
        .height{
            margin-top: -77px;
        }
        .head1 .brtitle {
            font-size: 2rem;
            font-weight: 600;
        }
        
    }
    @media only screen and (max-width: 430px){
        .card{
            margin-bottom: 98px;
        }
    }
    .card {
        margin-bottom: 98px;
    }
</style>

<link rel="stylesheet" href="{% static 'web/career.css' %}">

<main class="main">
    <div class="site-breadcrumb head1">
        <div class="container">
            <h2 class="breadcrumb-title brtitle">Some opportunities for you to explore</h2>
        </div>
    </div>

 <div class="container">
    <div class="row">
        {% for job in jobs %}
        <div class="col-lg-4 col-md-6">
           
            <div class="card height d-flex" style="height: 400px;">
                <h3 class="card-title">{{job.job_title}}</h3>
                <p class="card-content">
                    {{job.job_description|safe}}
                </p>
                <a href="{% url 'web:careerdetails' job.id %}" class="card-btn fixed-bottom" style="position: absolute;margin: 300px 0px 0px 151px;">READ MORE</a>
            </div>
            
        </div>
        {% endfor %}
    </div>
 </div>
        
     
   
</main>


{% endblock %}
















