{% extends 'web/partials/base.html' %}
{% block content %}
{% load static %}


<link rel="stylesheet" href="{% static 'career/css/careerpage.css' %}">
<link rel="stylesheet" href="{% static 'web/css/jobs.css' %}">
<link rel="stylesheet" href="{% static 'web/career.css' %}">
<style>
    .site-breadcrumb {
        padding: 0px 0px 30px 0px !important;
    }

    @media screen and (min-width:320px) and (max-width:425px) {
        .site-breadcrumb {
            height: 120.5vh;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: center center !important;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }

    @import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


    .height {
        padding: 0px 0px 23px 0px;
    }

    .search {
        position: relative;
        box-shadow: 0 0 40px rgba(51, 51, 51, .1);

    }

    .search input {

        height: 60px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;


    }


    .search input:focus {

        box-shadow: none;
        border: 2px solid #b71919;


    }

    .search button:hover {

        box-shadow: none;
        border: 2px solid #b71919;
        background-color: #b71919;


    }

    .search .fa-search {

        position: absolute;
        top: 20px;
        left: 16px;

    }

    .search button {

        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 110px;
        background: #b71919;

    }

    @media screen and (min-width:430px) and (max-width:1500px) {
        .site-breadcrumb {
            height: 90.5vh;
        }
    }
</style>

<main class="main">
    <div class="site-breadcrumb head1">
        <div class="container">
            <h2 class="breadcrumb-title brtitle head">Open Positions</h2>
        </div>

        <div class="container">
            <div class="row height d-flex justify-content-center align-items-center">

                <div class="col-md-8">

                    <div class="search">
                        <i class="fa fa-search"></i>
                        <input type="text" class="form-control" placeholder="Have a question? Ask Now">
                        <button class="btn btn-primary">Search</button>
                    </div>

                </div>

            </div>

            <div class="row height d-flex justify-content-center align-items-center mt-5">
                <div class="col-lg-2"></div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-lg-2"></div>
            </div>

        </div>

        <div class="container">

        </div>
    </div>




    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="row">
                        {% for job in jobs %}
                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <div class="card card1 justify-content-center">
                                <div class="row ">
                                    <div class="col-lg-3 col-md-3 d-flex justify-content-center">
                                        <h3 class="card-title">{{job.job_title}}</h3><br><br>
                                    </div>
                                    <div class="col-lg-9 col-md-9 justify-content-around d-lg-flex d-md-flex">

                                        <div class="media single-job-details">
                                            <img src="{% static 'career/images/riyastemp/2.svg' %}" alt="icon">
                                            <div class="media-body">
                                                <h6>Location</h6>
                                                <span>{{job.location|title}}</span>
                                            </div>
                                        </div>

                                        <div class="media single-job-details">
                                            <img src="{% static 'career/images/riyastemp/3.svg' %}" alt="icon">
                                            <div class="media-body">
                                                <h6>Job Type</h6>
                                                <span>{{job.work_mode}}</span>
                                            </div>
                                        </div>

                                        <div class="media single-job-details">
                                            <img src="{% static 'career/images/riyastemp/4.svg' %}" alt="icon">
                                            <div class="media-body">
                                                <h6>Experience</h6>
                                                <span>{{job.experience}} year{{job.experience|pluralize}}</span>
                                            </div>
                                        </div>

                                        <div class="media single-job-details">
                                            <img src="{% static 'career/images/riyastemp/5.svg' %}" alt="icon">
                                            <div class="media-body">
                                                <h6>Vacancy</h6>
                                                <span>{{job.vaccancy}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 d-flex align-items-end">
                                        <a href="{% url 'web:careerdetails' job.id %}" class="btn btn1">Read More</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                {% comment %}
                <div class="col-lg-6 d-lg-block d-sm-none d-md-none d-none">
                    <div class="row sec">
                        <h6 class="text-center sec1">World-Class Benefits for a World-Class Team</h6>
                        <div class="grid-4 " style="margin-top: 20px;">


                            <div class="feature-box fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                <div class="feature-icon">
                                    <img src="{% static 'web/img/icons/icons ai-01.png' %}" width="45px" alt="thumb">
                                </div>
                                <div class="feature-info">
                                    <h5 style="font-weight: 900;">100% Paid Medical Insurance</h5>
                                </div>
                            </div>
                            <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                <div class="feature-icon">
                                    <img src="{% static 'web/img/icons/icons ai-02.png' %}" width="45px" alt="thumb">
                                </div>
                                <div class="feature-info">
                                    <h5 style="font-weight: 900;">Retirement Planning</h5>
                                </div>
                            </div>
                            <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                <div class="feature-icon">
                                    <img src="{% static 'web/img/icons/icons ai-03.png' %}" width="45px" alt="thumb">
                                </div>
                                <div class="feature-info">
                                    <h5 style="font-weight: 900;">Paid Vacation & Time Off</h5>
                                </div>
                            </div>
                            <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                                <div class="feature-icon">
                                    <img src="{% static 'web/img/icons/icons ai-04.png' %}" width="45px" alt="thumb">
                                </div>
                                <div class="feature-info">
                                    <h5 style="font-weight: 900;">Subsidized Housing Rent
                                    </h5>
                                </div>
                            </div>
                            <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                                <div class="feature-icon">
                                    <img src="{% static 'web/img/icons/icons ai-05.png' %}" width="45px" alt="thumb">
                                </div>
                                <div class="feature-info">
                                    <h5 style="font-weight: 900;">Learning and Skill Development</h5>
                                </div>
                            </div>
                            <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                                <div class="feature-icon">
                                    <img src="{% static 'web/img/icons/icons ai-06.png' %}" width="45px" alt="thumb">
                                </div>
                                <div class="feature-info">
                                    <h5 style="font-weight: 900;">Swift Growth Opportunities</h5>
                                </div>
                            </div>
                            <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                                <div class="feature-icon">
                                    <img src="{% static 'web/img/icons/icons ai-07.png' %}" width="45px" alt="thumb">
                                </div>
                                <div class="feature-info">
                                    <h5 style="font-weight: 900;">Loyalty & Gratuity Bonuses</h5>
                                </div>
                            </div>
                            <!-- <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                            <div class="feature-icon">
                                <img src="{% static 'web/img/icons/icons ai-08.png' %}" width="45px" alt="thumb">
                            </div>
                            <div class="feature-info">
                                <h5 style="font-weight: 900;">Charity Participation</h5>
                            </div>
                        </div> -->


                        </div>
                    </div>
                </div>
                {% endcomment %}
            </div>


        </div>
    </section>
</main>


{% endblock %}