{% extends 'web/partials/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'career/css/careerpage.css' %}">

<style>

p {
    margin-bottom: 1.5rem;
    color: #3e3e40;
    line-height: 2rem;
    /* text-align: center; */
    font-size: 15px;
}
    .cw_loc_div {
        opacity: .3;
        margin: 0 15px;
        width: 1px;
        height: 22px;
        background-color: #707070;
        display: inline-flex;
        position: relative;
        align-items: center;
    }
    .subhead{
        font-size: 20px;
    }
    .listtype {
    padding-left: 13px;
    position: relative;
    margin-bottom: 4px;
    list-style: none;
    font-family: var(--zf-primary-regular) !important;
    font-size: 17px;
}
.cw_jd_innr {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.text{
    font-size: 15px !important;
    letter-spacing: 0;
    font-family: var(--zf-primary-regular);
    line-height: 1.9;
    color: var(--secondary-color);
    background-color: unset !important;
}
</style>
<main class="main">
    <div class="site-breadcrumb">
        <div class="container">
            <p>
             <span class="subhead">Onflap, Chennai</span>
                <span class="cw_loc_div"></span><span id="data_jobtype">
                </span> <span  class="subhead">Full Time</span> </p>
                <h1 class="breadcrumb-title">Designers- UI/UX/Visual/Graphic</h2>

        </div>
    </div>

    <div class="contact-section ptb-120">

        <div class="job-details-area pd-top-112">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8 offset-xl-1">
                        <div class="section-title">
                            <h2 class="title">Job Details</h2>
                        </div>
                        <h6 class="title">Fashion Designer</h6>
                        <span>Bevilard international</span>
                        <h6 class="sub-title">Vacancy</h6>
                        <span>04</span>
                        <h6 class="sub-title">Job Responsibilities</h6>
                        <div class="cw_jd_innr">
                            <ul>
                                <li class="align-justify listtype" style="text-align: justify;"><span class="text">Find out fashion trends of International market and to work out of them</span></li>
                                <li class="align-justify listtype" style="text-align: justify;"><span class="text">Creation of creative fashion design that suits the company brand's requirement</span></li>
                                <li class="align-justify listtype" style="text-align: justify;"><span class="text">Development of new accessories design for upcoming collection</span></li>
                                <li class="align-justify listtype" style="text-align: justify;"><span class="text">Analyze development in fabrics, colors and shapes</span></li>
                                <li class="align-justify listtype" style="text-align: justify;"><span class="text">Development of new accessories design for upcoming collection</span></li>
                                <li class="align-justify listtype" style="text-align: justify;"><span class="text">Develop design ideas through coordination with merchandising and client.</span></li>
                                <li class="align-justify listtype" style="text-align: justify;"><span class="text">Ensure developing of patterns & overseeing the production</span></li>
                                <li class="align-justify listtype" style="text-align: justify;"><span class="text">Design new labeling and badge.</span></li>

                      
                               
                            </ul>
                        </div>
                       
                        <h6 class="sub-title">Educational Requirements</h6>
                        <p>Bachelor of Fine Arts (B.F.A)</p>
                        <p>Training/Trade Course: Shanto Mariam University of Creative Technology,BGMEA University of
                            Fashion</p>
                        <p>Technology students wi,Skills Required: Graphics Design; Local and world populated Fashion
                            house (Buyer)</p>
                        <h6 class="sub-title">Experience Requirements</h6>
                        <p>1 to 3 year(s)</p>
                        <p>The applicants should have experience in the following area(s):</p>
                        <p>Fashion Design</p>
                        <h6 class="sub-title">Additional Requirements</h6>
                        <p>Age 26 to 35 years</p>
                        <p>Both males and females are allowed to apply</p>
                        <h6 class="sub-title">Job Location</h6>
                        <p>Gulshan, Dhaka Division, Dhaka.</p>
                        <h6 class="sub-title">Salary</h6>
                        <p class="m-0">Negotiable</p>
                        <a href="{% url 'web:applynow' %}"  class="job-apply-btn" style="margin-bottom: 20px;">Apply Now</a>
                    </div>
                    <div class="col-xl-3 col-lg-4 offset-xl-1">
                        <div class="widget widget-job-details">
                            <h3 class="widget-title">Job Details</h3>
                            <div class="media single-job-details">
                                <img src="{% static 'career/images/riyastemp/1.svg' %}" alt="icon">
                                <div class="media-body">
                                    <h6>Department</h6>
                                    <span>UI Designer</span>
                                </div>
                            </div>
                            <div class="media single-job-details">
                                <img src="{% static 'career/images/riyastemp/2.svg' %}" alt="icon">
                                <div class="media-body">
                                    <h6>Location</h6>
                                    <span>Bangladesh</span>
                                </div>
                            </div>
                            <div class="media single-job-details">
                                <img src="{% static 'career/images/riyastemp/3.svg' %}" alt="icon">
                                <div class="media-body">
                                    <h6>Job Type</h6>
                                    <span>Full Time</span>
                                </div>
                            </div>
                            <div class="media single-job-details">
                                <img src="{% static 'career/images/riyastemp/4.svg' %}" alt="icon">
                                <div class="media-body">
                                    <h6>Experience</h6>
                                    <span>2 years</span>
                                </div>
                            </div>
                            <div class="media single-job-details mb-0">
                                <img src="{% static 'career/images/riyastemp/5.svg' %}" alt="icon">
                                <div class="media-body">
                                    <h6>Salary</h6>
                                    <span>$2000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>





{% endblock %}