{% extends 'web/partials/base.html' %}
{% block content %}
{% load static %}


<style>
    @media only screen and (max-width: 768px){
        .contact-left h2{
            line-height: 2.5rem;
            font-size: 2rem;
            padding: 29px;
            margin-top: -63px;
            text-align: center;
        }
    }
</style>

<main class="main">
		
    <!-- Start Breadcrumb
    ============================================= -->
    <div class="site-breadcrumb">
        <div class="container">
            <h2 class="breadcrumb-title">Contact Us</h2>
        </div>
    </div>
    <!-- End  Breadcrumb -->
    
    <!-- Start Blog-Content
    ============================================= -->
   <div class="wrapper">
    <div class="single-area de-padding">
        <div class="container">
            <div class="contact-page-info grid-2">
                <div class="contact-left">
                    <h2 style="color: black;">
                        Hello! Have you want 
                        to need any inquary or 
                        have any Questions?
                    </h2>
                    <ul class="text-center">
                        <!-- <li>
                            <h5 class="fz-18-5">Address:</h5>
                            <span>House 00, Road No : 01, Street address, ABC, Canada</span>
                        </li> -->
                        <li>
                            <h5 class="fz-18-5">Landline:</h5>
                            <span> +91-484-2955885</span>
                        </li>
                        <li>
                            <h5 class="fz-18-5">Phone:</h5>
                            <span> +91 6282-307829</span>
                        </li>
                        <li>
                            <h5 class="fz-18-5">Email:</h5>
                            <span><a href="#">info@onflap.com</a></span>
                        </li>
                    </ul>
                </div>
                <div class="contact-right wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                    <form  method="POST">	
                        {% csrf_token %}				
                        <div class="row g-4">
                            <div class="col-md-6">
                                {{contactfrom.cust_name}}
                            </div>
                            <div class="col-md-6">
                                {{contactfrom.phone}}                            
                            </div>
                            <div class="col-md-12">
                                {{contactfrom.email}}
                            </div>
                            <div class="col-12">
                                {{contactfrom.message}}                            
                            </div>
                            <div class="col-12">
                                <button type="submit" class="theme-btn mt-20">
                                    Send Message
                                </button>
                            </div>							
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
   </div>
    <!-- End  Blog-Content -->
    
</main>
{% endblock %}