{% extends 'web/partials/base.html' %}
{% block content %}
{% load static %}



<main class="main">
		
    <!-- Start Breadcrumb
    ============================================= -->
    <div class="site-breadcrumb">
        <div class="container">
        <h2 class="breadcrumb-title">Contact Us</h2>
        </div>
    </div>
    <!-- End  Breadcrumb -->
    
    <!-- Start Blog-Content
    ============================================= -->
    <div class="single-area de-padding">
        <div class="container">
            <div class="contact-page-info grid-2">
                <div class="contact-left">
                    <h2>
                        Hello! Have you want <br />
                        to need any inquary or <br />
                        have any Questions?
                    </h2>
                    <ul>
                        <li>
                            <h5 class="fz-18-5">Address:</h5>
                            <span>House 00, Road No : 01, Street address, ABC, Canada</span>
                        </li>
                        <li>
                            <h5 class="fz-18-5">Phone:</h5>
                            <span>+0 123-456-7890, +00 123-456-789</span>
                        </li>
                        <li>
                            <h5 class="fz-18-5">Email:</h5>
                            <span><a href="#">hello@example.com</a></span>
                        </li>
                    </ul>
                </div>
                <!-- <div class="contact-right wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s"> -->
                    <form  method="POST">	
                        {% csrf_token %}				
                        <div class="row g-4">
                            <div class="col-md-6">
                                {{contactfrom.cust_name}}
                            </div>
                            <div class="col-md-6">
                                {{contactfrom.phone}}                            
                            </div>
                            <div class="col-md-12">
                                {{contactfrom.email}}
                            </div>
                            <div class="col-12">
                                {{contactfrom.message}}                            
                            </div>
                            <div class="col-12">
                                <button type="submit" class="theme-btn mt-20">
                                    Send Message
                                </button>
                            </div>							
                        </div>
                    </form>
                <!-- </div> -->
            </div>
        </div>
    </div>
    <!-- End  Blog-Content -->
    
</main>
{% endblock %}