{% extends 'web/partials/base.html' %}
{% block content %}
{% load static %}



<style>
    /* .test li:first-child {
        width: 66%;
        font-size: 14px;
        padding: 0 10px 10px;
    }

    .test li {

        position: relative;
        display: inline-block;
        padding: 30px 10px 10px;
        width: 47%;
        font-size: 10px;
        text-align: center;
        text-transform: uppercase;
        border-bottom: 1px solid #f5f5f5;
        border-right: 1px solid #f5f5f5;
        vertical-align: bottom;
        transition: .5s ease;
    } */



    .zp-apps.zp-forms a>span {
        background-position: -128px -64px;
    }

    .zp-apps a>span {
        height: 32px;
        width: 32px;
    }
    .zp-apps label{
        font-size: 10px;
        font-weight: 400;
        color: #000;
    }

    .zp-apps a>span,
    .zp-main-apps a>span {
        display: block;
        background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Circle-icons-computer.svg/2048px-Circle-icons-computer.svg.png) left top no-repeat;
        margin: 0 auto 10px;
        background-size: 960px auto;
    }

    .zoho-apps-category ul li:first-child {
        width: 99%;
        font-size: 14px;
        padding: 0 10px 10px;
    }

    .zoho-apps-category ul li {
        position: relative;
        display: inline-block;
        padding: 30px 10px 10px;
        width: 32%;
        /* font-size: 10px; */
        text-align: center;
        text-transform: uppercase;
        /* border-bottom: 1px solid #f5f5f5; */
        /* border-right: 1px solid #f5f5f5; */
        vertical-align: bottom;
        transition: .5s ease;
    }




    .zoho-apps-category1 ul li {
        position: relative;
        display: inline-block;
        padding: 30px 10px 10px;
        width: 47%;
        /* font-size: 10px; */
        text-align: center;
        text-transform: uppercase;
        border-bottom: 1px solid #f5f5f563;
        border-right: 1px solid #f5f5f5;
        vertical-align: bottom;
        transition: .5s ease;
    }

    .region-promo .promotion-app a {
        color: #000;
        display: block;
        padding: 60px 20px 60px 170px;
        position: relative;
    }

    .region-promo .promo-appicon.promo-crm {
        background-position: -1044px 10px;
    }

    .region-promo .learn-more {
        color: #fff;
        background: #b71919;
        padding: 8px 20px;
        display: inline-block;
        text-transform: uppercase;
        font-size: 13px;
    }

    .promotion-app .promo-crm {
        background-image: url(https://img.icons8.com/color/48/000000/sell-stock.png);
    }

    .zoho-apps-category1 ul li:hover {
        border-bottom: 1px solid #0a3daa;
    }

    .zoho-apps-category ul li:hover {
        border-bottom: 1px solid #0a3daa;
    }




    .vertical {
        border-right: 1px solid #aaa7a7d5;
    }

    @media only screen and (max-width: 757px) {
        .vertical {
            border-right: 0px solid #aaa7a7d5;
        }

        .region-promo .promotion-app a {
            color: #000;
            display: block;
            padding: 53px 7px 68px 0px;
            position: relative;
        }
    }

    @media only screen and (max-width: 971px) {
        .vertical {
            border-right: 0px solid #aaa7a7d5;
            /* border-bottom: 1px solid #aaa7a7d5; */
        }
    }

    @media only screen and (max-width: 363px) {
        .region-promo .promotion-app a {
            color: #000;
            display: block;
            padding: 53px 7px 68px 0px;
            position: relative;
        }


        .footer-widget-box ul li a {
            font-size: 1.5rem;
            font-family: var(--font-2);
        }
    }

    @media only screen and (max-width: 333px) {
        .region-promo .learn-more {
            padding: 6px 10px;
        }
    }

    @media only screen and (max-width: 1440px) {
        .row {
            margin-top: 50px;
        }
    }

    @media only screen and (max-width: 1440px) {
        .hro-btn {
            margin-bottom: 27px;
        }

        .row {
            margin-top: 10px;
        }

        .fadeInUp {
            text-align: center;
        }
    }

    @media only screen and (max-width: 425px) {
        .hro-btn {
            margin-bottom: 5px;
        }
    }






    .card {
        margin-top: 1px;
        max-width: 300px;
        min-height: 250px;
        background: white;
        padding: 30px;
        border-radius: 3px;
        box-sizing: border-box;
        color: black;
        margin: 20px;
        box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
    }

    .card-title {
        margin-top: 0;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1.2px;
    }

    .card-content {
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 1.5;
    }

    .card-btn {
        all: unset;
        display: block;
        margin-left: auto;
        border: 2px solid rgb(83, 81, 81);
        padding: 10px 15px;
        border-radius: 25px;
        font-size: 10px;
        font-weight: 600;
        transition: all 0.5s;
        cursor: pointer;
        letter-spacing: 1.2px;
    }
    .card {
        background: #fff;
        box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
        transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
        border: 0;
        border-radius: 1rem
    }
    .card-img,
    .card-img-top {
        border-top-left-radius: calc(1rem - 1px);
        border-top-right-radius: calc(1rem - 1px)
    }
     .card:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
    }
    .feature-box h5{
        font-size: 20px;
        font-weight: 900;

    }
    .feature-box  p{
        font-size: 16px;
    }
    h6{
        font-size: 30px;
    }
</style>



<main class="main">

    <!-- Start Hero   
============================================= -->

<div id="home" class="hero-section">
    <div class="hero-sliderr">
        <!-- owl Slider Begin -->
        <div class="hero-single">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 offset-xl-2">
                        <div class="hero-content text-center">
                            <span class="top-title wow fadeInDown" data-wow-duration="1s"
                                data-wow-delay=".3s">Business Consulting Agency</span>
                            <h2 data-splitting class="home-title wow text-dark" data-wow-duration=".1s"
                                data-wow-delay=".2s"
                                >
                                DELIVERING
                                THE ULTIMATE
                                EXPERIENCE
                                TO THE ENDUSER
                            </h2>
                            <p>
                                Reliability, Affordability, Customizability.
                            </p>
                            <div class="hro-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                <a href="{% url 'web:about' %}" class="theme-btn">
                                    Explore More <i class="icofont-long-arrow-right"></i>
                                </a>
                                <div class="how-we-work">
                                    <a href="https://www.youtube.com/watch?v=ku6dEtynrRI"
                                        class="item popup-youtube">
                                        <i class="fas fa-play"></i>
                                        <span class="how-txt">How we work</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- single Slider End -->
    </div>
</div>
    <!-- End Hero -->

    <!-- -------------------------------------------------------------- -->



    <!-- ----------------------------------------- -->

    <!-- Start Feature
============================================= -->
    <div class="feature-area">
        <div class="container">
            <div class="row" style="background: linear-gradient(to right, #aed3f8 32%, #ffffff 100%);">

                <div class="col-md-6 region-promo ">
                    <div class="promotion-app">
                        <a href="{% url 'web:productdetails' %}" class="zpa-row">
                            <div>
                                <h3>Complete Onflap Platform</h3>
                                <p style="font-size: 19px;">End-to-end, fully customizable Onflap solution for growing businesses and enterprises.
                                </p><span class="learn-more">Explore More</span>
                            </div>
                        </a>

                    </div>

                </div>
                <div class="col-md-6">

                    <div class="zoho-apps-category1">
                        <ul style="margin: 30px 0 0;" class="test1">

                            <li class="zp-apps zp-bigin">
                                <a target="_blank" href="{% url 'web:productdetails' %}">

                                    <span><img src="{% static 'web/img/product/6.png' %}" /></span>



                                    <label>Fiesta</label>
                                </a>
                            </li>
                            <li class="zp-apps zp-campaigns"><a target="" href="{% url 'web:productdetails' %}">

                                    <span><img src="https://img.icons8.com/color/48/000000/sell-stock.png" /></span>

                                    <label> Courier and Cargo services</label></a></li>
                            <li class="zp-apps zp-forms"><a target="" href="{% url 'web:productdetails' %}">

                                    <span><img src="https://img.icons8.com/color/48/000000/purchase-order.png" /></span>





                                    <label> CRM</label></a></li>
                            <li class="zp-apps zp-sign"><a target="" href="{% url 'web:productdetails' %}">



                                    <span><img src="https://img.icons8.com/color/48/000000/land-surveying.png" /></span>

                                    <label>DMS</label></a>
                            </li>


                        </ul>
                    </div>


                </div>
            </div>
        </div>
        <div class="container" style="margin-top: 80px;">
            <h6 class="text-center">All OnFlap Apps</h6>
            <div class="feature-wpr grid-3" style="margin-top: 50px;">

                <div class="feature-box wow fadeInUp vertical" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="feature-info ">
                        <h5 class="text-center">Sales & Marketing</h5>
                        <p class="mb-0">
                            According to lorem ipsum dolo siti ameat dui too consecteture consecteture
                            elite.
                        </p>
                        <div class="zoho-apps-category ">
                            <ul style="margin: 30px 0 0;" class="test">
                                <li class="zp-apps zp-main-crm">
                                    <a href="{% url 'web:productdetails' %}" target=""><span>
                                            <div class="feature-icon">
                                                <img src="{% static 'web/img/icons/man.png' %}" alt="thumb">
                                            </div>
                                        </span><label><b style="color: black;font-size: 1.5rem;">CRM</b></label>
                                    </a>
                                </li>
                                <li class="zp-apps zp-bigin">
                                    <a target="_blank">
                                        <span>
                                            <img src="https://img.icons8.com/nolan/64/google-sites.png" />
                                        </span>
                                        <label>Sites</label>
                                    </a>
                                </li>
                                <li class="zp-apps zp-campaigns"><a target=""><span><img
                                                src="https://img.icons8.com/color/48/000000/sell-stock.png" />
                                        </span><label>Campaigns</label></a></li>
                                <li class="zp-apps zp-forms"><a target=""><span><img
                                                src="https://img.icons8.com/color/48/000000/purchase-order.png" />
                                        </span><label>Forms</label></a></li>
                                <li class="zp-apps zp-sign"><a target=""><span> <img
                                                src="https://img.icons8.com/color/48/000000/land-surveying.png" /></span><label>Survey</label></a>
                                </li>
                                <li class="zp-apps zp-social"><a target=""><span><img
                                                src="https://img.icons8.com/color/48/000000/storyfire.png" />
                                        </span><label>Social</label></a></li>
                                <li class="zp-apps zp-salesiq"><a target=""><span><img
                                                src="https://img.icons8.com/color/48/000000/project-management.png" />
                                        </span><label>Projects</label></a></li>
                            </ul>
                        </div>
                        </p>
                    </div>
                </div>

                <div class="feature-box wow fadeInUp vertical" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="feature-info">
                        <h5 class="text-center">Custom Solutions</h5>
                        <p class="mb-0">
                            According to lorem ipsum dolo siti ameat dui too consecteture consecteture
                            elite.
                        </p>
                        <p>
                        <div class="zoho-apps-category">
                            <ul style="margin: 30px 0 0;" class="test">
                                <li class="zp-apps zp-main-crm"><a href="{% url 'web:productdetails' %}"
                                        target=""><span>
                                            <div class="feature-icon">
                                                <img src="{% static 'web/img/icons/checked.png' %}" alt="thumb">
                                            </div>
                                        </span><label><b style="color: black;font-size: 1.5rem;">ERP</b></label>
                                    </a>
                                </li>
                                <li class="zp-apps zp-bigin">
                                    <a target="_blank">
                                        <span>
                                            <img
                                                src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/000000/external-creator-influencer-marketing-flaticons-lineal-color-flat-icons.png" />
                                        </span>
                                        <label>Creator</label>
                                    </a>
                                </li>
                                <li class="zp-apps zp-campaigns">
                                    <a target="">
                                        <span>
                                            <img
                                                src="https://img.icons8.com/external-flat-icons-pause-08/64/000000/external-analyst-business-charts-and-diagrams-flat-icons-pause-08.png" />
                                        </span>
                                        <label>catalyst</label>
                                    </a>
                                </li>
                                <li class="zp-apps zp-forms">
                                    <a target="">
                                        <span>
                                            <img src="https://img.icons8.com/nolan/64/serial-tasks.png" /> </span>
                                        <label>Flow</label>
                                    </a>
                                </li>
                                <li class="zp-apps zp-sign">
                                    <a target="">
                                        <span>
                                            <img
                                                src="https://img.icons8.com/external-tal-revivo-color-tal-revivo/24/000000/external-development-experience-through-the-native-integrations-of-azure-with-visual-studio-logo-color-tal-revivo.png" />
                                        </span>
                                        <label>Office integrator</label>
                                    </a>
                                </li>
                                <!-- <li class="zp-apps zp-social">
                                    <a target="">
                                        <span>
                                            <img src="https://img.icons8.com/color/48/000000/storyfire.png" />
                                        </span>
                                        <label>Social</label>
                                    </a>
                                </li>
                                <li class="zp-apps zp-salesiq">
                                    <a target="">
                                        <span>
                                            <img src="https://img.icons8.com/color/48/000000/project-management.png" />
                                        </span>
                                        <label>Projects</label>
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                        </p>
                    </div>
                </div>



                <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                    <div class="feature-info">
                        <h5 class="text-center">Human Resources</h5>
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit laudantium quos sapiente .
                        </p>
                        <p>
                        <div class="zoho-apps-category">
                            <ul style="margin: 30px 0 0;" class="test">
                                <li class="zp-apps zp-main-crm">
                                    <a href="" target=""><span>
                                            <div class="feature-icon">
                                                <img src="{% static 'web/img/icons/rating.png' %}" alt="thumb">
                                            </div>
                                        </span>
                                        <label><b style="color: black;font-size: 1.5rem;">HRMS</b></label>
                                    </a>
                                </li>
                                <li class="zp-apps zp-bigin">
                                    <a target="_blank">
                                        <span>
                                            <img
                                                src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/000000/external-recruitment-recruitment-agency-flaticons-flat-flat-icons-10.png" />
                                        </span>
                                        <label>Recruit</label>
                                    </a>
                                </li>
                                <li class="zp-apps zp-campaigns">
                                    <a target="">
                                        <span>
                                            <img src="https://img.icons8.com/doodle/48/000000/crowd.png" />
                                        </span>
                                        <label>People</label>
                                    </a>
                                </li>
                                <li class="zp-apps zp-forms">
                                    <a target="">
                                        <span>
                                            <img src="https://img.icons8.com/doodle/48/000000/maintenance.png" />
                                        </span>
                                        <label>Workerly</label>
                                    </a>
                                </li>
                                <li class="zp-apps zp-sign"><a target=""><span> <img
                                                src="https://img.icons8.com/color/48/000000/land-surveying.png" /></span><label>Survey</label></a>
                                </li>
                                <li class="zp-apps zp-social"><a target=""><span><img
                                                src="https://img.icons8.com/color/48/000000/storyfire.png" />
                                        </span><label>Social</label></a></li>
                                <li class="zp-apps zp-salesiq"><a target=""><span><img
                                                src="https://img.icons8.com/color/48/000000/project-management.png" />
                                        </span><label>Projects</label></a></li>
                            </ul>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Feature -->
    <div class="container" style="margin-top: 80px;">
        <h6 class="text-center">All OnFlap Service</h6>
        <div class="feature-wpr grid-3" style="margin-top: 50px;">
            <div class="feature-box wow fadeInUp " data-wow-duration="1s" data-wow-delay=".2s">
                <div class="card">
                    <img src="{% static  'web/img/servies/oNflap-03.png' %}" class="card-img-top" alt="...">
                    <h3 class="card-title">ERP Solutions</h3>
                    <p class="card-content">We provide Enterprise Resource Planning (ERP) systems customized for each industry based on Open Source Technologies with an unmatched service..</p>
                    <!-- <a href="{% url 'web:careerdetails' %}" class="card-btn">READ MORE</a> -->
                </div>
            </div>
            <div class="feature-box wow fadeInUp " data-wow-duration="1s" data-wow-delay=".2s">
                <div class="card">
                    <img src="{% static  'web/img/servies/oNflap-02.png' %}" class="card-img-top" alt="...">
                    <h3 class="card-title">Software Developments</h3>
                    <p class="card-content">Our expert team of Analysts, designers and Developers can advice, study and create customized applications that suit your needs.Work with all Platforms</p>
                    <!-- <a href="{% url 'web:careerdetails' %}" class="card-btn">READ MORE</a> -->
                </div>
            </div>
            <div class="feature-box wow fadeInUp " data-wow-duration="1s" data-wow-delay=".2s">
                <div class="card">
                    <img src="{% static  'web/img/servies/oNflap-01.png' %}" class="card-img-top" alt="...">
                    <h3 class="card-title">Hardware Installation & Support</h3>
                    <p class="card-content">Be it installation of a brand new server, or supply and installation of computers, we are a one-stop solution center for all your hardware needs..</p>
                    <!-- <a href="{% url 'web:careerdetails' %}" class="card-btn">READ MORE</a> -->
                </div>
            </div>
            <div class="feature-box wow fadeInUp " data-wow-duration="1s" data-wow-delay=".2s">
                <div class="card">
                    <img src="{% static  'web/img/servies/oNflap-04.png' %}" class="card-img-top" alt="...">
                    <h3 class="card-title">Web Services</h3>
                    <p class="card-content">Total solutions for any kind of requirements, whether it be design development of website/e-commerce/web-applications, domain registration hosting, implementing SSL, e-mails, search engine (SEO/SEM) or social media (SMO/SME).</p>
                    <!-- <a href="{% url 'web:careerdetails' %}" class="card-btn">READ MORE</a> -->
                </div>
            </div>
            <div class="feature-box wow fadeInUp " data-wow-duration="1s" data-wow-delay=".2s">
                <div class="card">
                    <img src="{% static  'web/img/servies/oNflap-05.png' %}" class="card-img-top" alt="...">
                    <h3 class="card-title">Networking & Security</h3>
                    <p class="card-content">Long years of expertise in installing & maintaining internal/external networks, data servers and applications by providing security reviews, audits, penetration testing, investigative data services, business continuity and disaster recovery planning etc..</p>
                    <!-- <a href="{% url 'web:careerdetails' %}" class="card-btn">READ MORE</a> -->
                </div>
            </div>
            <div class="feature-box wow fadeInUp " data-wow-duration="1s" data-wow-delay=".2s">
                <div class="card">
                    <img src="{% static  'web/img/servies/oNflap-06.png' %}" class="card-img-top" alt="...">
                    <h3 class="card-title">Mobile Applications</h3>
                    <p class="card-content">Looking for building Fast and Easy native iOS, Android or Windows app? or a cross-platform hybrid app? We thrive in building custom APPs for individuals or corporates with solutions for a secure back-end, APIs and cloud services..</p>
                    <!-- <a href="{% url 'web:careerdetails' %}" class="card-btn">READ MORE</a> -->
                </div>
            </div>
        </div>
    </div>
    


    <!-- -------------------------------------------- -->

    
    <!-- ------------------------------------------------ -->


    <!-- Start About
============================================= -->
    <!-- <div class="about-area de-padding">
        <div class="about-wpr grid-2">
            <div class="about-left">
                <div class="about-img wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                    <img src="{% static 'web/footer.png' %}" alt="thumb">
                </div>
            </div>
            <div class="about-right about-padding-right">
                <span class="about-sub-title">About Agency</span>
                <h2 style="color: black;" data-splitting class="about-title wow" data-wow-duration=".1s"
                    data-wow-delay=".2s">A
                    helping hand agency <br /> for Business</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, seieiusmoed
                    dui too consecteture elite more.According to ipsum dolor seat ameat
                    consecteture elite.
                </p>
                <div class="about-fact grid-3">
                    <div class="fun-fact wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="fun-icon">
                            <img src="{% static 'web/img/icons/1.png' %}" alt="thumb">
                            <p class="timer" data-to="2382" data-speed="3000">2382</p>
                        </div>
                        <div class="fun-desc">
                            <span class="medium">Project Completed</span>
                        </div>
                    </div>
                    <div class="fun-fact wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="fun-icon">
                            <img src="{% static 'web/img/icons/2.png' %}" alt="thumb">
                            <p class="timer" data-to="1382" data-speed="3000">1382</p>
                        </div>
                        <div class="fun-desc">
                            <span class="medium">Team Members</span>
                        </div>
                    </div>
                    <div class="fun-fact wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="fun-icon">
                            <img src="{% static 'web/img/icons/feedback.png' %}" alt="thumb">
                            <p class="timer" data-to="2382" data-speed="3000">2382</p>
                        </div>
                        <div class="fun-desc">
                            <span class="medium">Happy Clients</span>
                        </div>
                    </div>
                </div>
                <div class="about-btn mt-60 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                    <a href="work.html" class="theme-btn">
                        Explore More <i class="icofont-long-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End About -->



</main>
{% endblock %}