{% extends 'web/partials/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'web/benefits.css' %}">
<style>
    @media only screen and (min-width: 765px) and (max-width: 1024px) {
        .site-breadcrumb .breadcrumb-title {
            margin-top: 255px;
        }

        .head {
            margin-top: 200px;
        }
        .c1{
            margin-top:140px
        }
        p.benefits {
            font-size: 15px;
            padding: 0px 35px 0px 35px;
            text-align: center;
        }

        .sec h6 {
            padding: 54px 14px 10px 10px;
            font-size: 20px;
        }

        .feature-box {
            padding: 0px 33px 0px 31px;
        }

        .feature-info h5 {
            font-size: 15px;
        }

        .h1 {
            margin-top: 80px;
            font-weight: 900;
        }

        .bene {
            color: teal;
            font-size: 15px;
            line-height: 2rem;
            font-family: var(--font-2);
            text-align: center;
            padding: 0px 20px;
        }
        .mt {
    margin-top: 50px;
}
    }

    @media only screen and (min-width: 320px) and (max-width: 760px) {
        .mt {
    margin-top: 14px;
}
        .site-breadcrumb .breadcrumb-title {
            margin-top: 350px;
        }

        p.benefits {
            font-size: 13px;
            line-height: 2.5rem;
            padding: 0px 32px 0px 32px;
        }

        .head {
            margin-top: 200px;
        }

        .sec h6 {
            padding: 58px 14px 10px 10px;
            font-size: 20px;
        }
        .c1{
            margin-top:240px
        }
        .feature-box {
            padding: 0px 33px 0px 31px;
        }

        .feature-info h5 {
            font-size: 15px;
        }

        .h1 {
            margin-top: 80px;
            font-weight: 900;
        }

        .bene {
            color: teal;
            font-size: 15px;
            line-height: 2rem;
            font-family: var(--font-2);
            text-align: center;
            padding: 0px 20px;
        }
    }

    @media only screen and (min-width: 1024px) and (max-width: 1500px) {
        .benefits {
            padding: 0px 125px;
        }

        .head {
            margin-top: 160px;
        }

        .sec h6 {
            padding: 54px 14px 10px 10px;
            font-size: 32px;
        }
        .c1{
            margin-top:140px
        }
        .feature-box {
            padding: 0px 33px 0px 31px;
        }

        .feature-info h5 {
            font-size: 15px;
        }

        .h1 {
            margin-top: 80px;
            font-weight: 900;
        }

        .bene {
            color: teal;
            font-size: 21px;
            line-height: 3rem;
            font-family: var(--font-2);
            text-align: center;
            padding: 0px 20px;
        }
    }

    /* .bene{
    color: teal;
    font-size: 22px;
    line-height: 3rem;
    font-family: var(--font-2);
    text-align: center;
    } */
</style>

<main class="main">
    <div class="site-breadcrumb head1">
        <div class="container">
            <h2 class="breadcrumb-title brtitle head" style="">Kuwait Benefits</h2>

        </div>
        <p class="benefits">
            Rated amongst the fastest-growing companies, Onflap is built on a strong vision and corporate philosophy
            of continuous adaptation, client service, and professional growth. With one of the lowest attrition
            rates in the industry, onflap’s investment in its team members provides an ideal working environment that
            fosters opportunities to innovate, learn, and excel. Our onflap Family is always growing, and we look
            forward to welcoming new members who are looking to expand their potential and place their careers on a
            path to success.

        </p>
    </div>

    <div class="container-fluid c1" style="background-color: #f8f9fa;">
        <div class="row sec">
            <h6 class="text-center sec1">World-Class Benefits for a World-Class Team</h6>
            <div class=" grid-4" style="margin-top: 72px;">
                <div class="feature-box">
                    <div class="feature-icon">
                        <img src="{% static 'web/img/product/9.png' %}" alt="thumb">
                    </div>
                    <div class="feature-info">
                        <h5 style="font-weight: 900;">100% Paid Medical Insurance</h5>
                    </div>
                </div>
                <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                    <div class="feature-icon">
                        <img src="{% static 'web/img/product/10.png' %}" alt="thumb">
                    </div>
                    <div class="feature-info">
                        <h5 style="font-weight: 900;">Retirement Planning</h5>
                    </div>
                </div>
                <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                    <div class="feature-icon">
                        <img src="{% static 'web/img/product/1.png' %}" alt="thumb">
                    </div>
                    <div class="feature-info">
                        <h5 style="font-weight: 900;">Paid Vacation & Time Off</h5>
                    </div>
                </div>
                <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="feature-icon">
                        <img src="{% static 'web/img/product/box-01.png' %}" alt="thumb">
                    </div>
                    <div class="feature-info">
                        <h5 style="font-weight: 900;">Subsidized Housing Rent
                        </h5>
                    </div>
                </div>
                <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="feature-icon">
                        <img src="{% static 'web/img/product/6.png' %}" alt="thumb">
                    </div>
                    <div class="feature-info">
                        <h5 style="font-weight: 900;">Learning and Skill Development</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <h6 class="text-center h1">Meaningful Work, Good People, Unparalleled Rewards</h6>
        </div>
        <div class="row">
            <p class="bene">
                We foster an atmosphere of mutual respect and take pride in our culturally diverse team of capable
                professionals by celebrating a multitude of backgrounds and cultures.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row mt">
            <div class="col-lg-4 col-md-6 d-flex justify-content-center">

                <div class="card height d-flex justify-content-center bluecard">
                    <h3 class="card-title">
                        Loyalty Bonus & Swift, Growth Opportunities
                    </h3>
                    <p class="card-content">
                        It’s your dedication and hard work that contributes to our success. Upon the completion of your annual employee performance review, you’ll receive a one-time bonus that accurately reflects upon your contribution to Onflap’s success.

                        Along with this bonus,  We offers swift growth opportunities where you can reach for the
                        stars and advance in your career.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="card height d-flex justify-content-center">
                    <h3 class="card-title">
                        Paid Vacation, Floating Days & PTO
                    </h3>
                    <p class="card-content">
                        At Chetu, we believe in working hard, as well as playing hard. We encourage every employee to
                        take some time to enjoy life and leisure away from the workplace.

                        So, we offer paid vacations, floating holiday pay, and paid time off (PTO) benefits that allow
                        our employees to do just that - play hard!
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="card height d-flex justify-content-center bluecard">
                    <h3 class="card-title">
                        State-of-the-Art Facilities
                    </h3>
                    <p class="card-content">
                        Chetu’s state-of-the-art facilities include cutting-edge technology, amenities, and a positive
                        work atmosphere where employees can work efficiently. All of our locations comply with COVID-19
                        safety standards to keep employees safe and to prevent the spread of COVID-19.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="card height d-flex justify-content-center">
                    <h3 class="card-title">
                        Swift Promotions and Growth
                    </h3>
                    <p class="card-content">
                        For promotions into higher-level positions, it is our belief and policy to promote our own team
                        members rather than hiring from outside. This opens doors for our talented members to grow into
                        higher roles more quickly. Onflap provides opportunities for its members to take both permanent
                        and temporary on-site assignments at any of our Global locations outside India.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="card height d-flex justify-content-center bluecard">
                    <h3 class="card-title">
                        Travel Reimbursement

                    </h3>
                    <p class="card-content">
                        For employees that are required to travel, Chetu reimburses them for any expenses incurred in
                        connection to their travel, including meals, lodging, car mileage, flight costs, and more.
                    </p>
                </div>
            </div>

        </div>
    </div>


</main>


{% endblock %}