{% extends 'web/partials/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'web/benefits.css' %}">
<link rel="stylesheet" href="{% static 'web/css/kuwait.css' %}">

<main class="main">
    <div class="site-breadcrumb head1">
        <div class="container">
            <h2 class="breadcrumb-title brtitle head" style="">Kuwait Benefits</h2>

        </div>
        <p class="benefits">
            Rated amongst the fastest-growing companies, Onflap is built on a strong vision and corporate philosophy
            of continuous adaptation, client service, and professional growth. With one of the lowest attrition
            rates in the industry, onflap’s investment in its team members provides an ideal working environment that
            fosters opportunities to innovate, learn, and excel. Our onflap Family is always growing, and we look
            forward to welcoming new members who are looking to expand their potential and place their careers on a
            path to success.

        </p>
    </div>

    


    <div class="container">
        <div class="row">
            <!-- <h6 class="text-center h1">Meaningful Work, Good People, Unparalleled Rewards</h6> -->
        </div>
        <div class="row">
            <p class="bene">
                <!-- We foster an atmosphere of mutual respect and take pride in our culturally diverse team of capable
                professionals by celebrating a multitude of backgrounds and cultures. -->
            </p>
        </div>
    </div>
<section class="mt-18">

    <div class="container">
        <div class="row mt">
            <div class="col-lg-4 col-md-6 d-flex justify-content-center">

                <div class="card height d-flex justify-content-center bluecard bcard">
                    <h3 class="card-title">
                        Loyalty Bonus & Swift, Growth Opportunities
                    </h3>
                    <p class="card-content">
                        We believe that dedication and hard work paves the path to success. In recognition of your contribution to Onflap's success, you'll receive a one-time bonus following your annual employee performance review. We also offer plenty of opportunities for career advancement along with this bonus.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="card height d-flex justify-content-center bcard">
                    <h3 class="card-title">
                        Paid Vacation, Floating Days & PTO
                    </h3>
                    <p class="card-content">
                        We pride ourselves on working hard, as well as playing hard and we believe that taking time off from the workplace is important for every employee. In order to facilitate this, we offer paid vacations, floating holiday pay, and paid time off (PTO) benefits to reduce stress and raise the productivity of work.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="card height d-flex justify-content-center bluecard bcard">
                    <h3 class="card-title">
                        Travel Reimbursement

                    </h3>
                    <p class="card-content">
                        As part of Onflap’sreimbursement program, the company reimburses employees who travel for any expenses they incur, including meals, lodging, car mileage, and flight costs. We always strive to deliver the best working experience and allowances to our employees for their best experience in the profession.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>


</main>


{% endblock %}