{% extends 'web/partials/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'web/benefits.css' %}">
<link rel="stylesheet" href="{% static 'web/css/kuwait.css' %}">

<style>
    @media only screen and (min-width: 320px) and (max-width: 760px) {
        #kuwaithbnfs p {
            font-size: 14px;
            line-height: 2.5rem;
            padding: 0px 32px 0px 32px;
        }
    }
</style>


<main class="main">
    <div class="site-breadcrumb head1">
        <div class="container">
            <h2 class="breadcrumb-title brtitle head" style="">{{kuwait_banner.Title}}</h2>

        </div>
        <p class="benefits">
            {{kuwait_banner.Description|safe}}
        </p>
    </div>




    <div class="container">
        <div class="row">
            <!-- <h6 class="text-center h1">Meaningful Work, Good People, Unparalleled Rewards</h6> -->
        </div>
        <div class="row">
            <p class="bene">
                <!-- We foster an atmosphere of mutual respect and take pride in our culturally diverse team of capable
                professionals by celebrating a multitude of backgrounds and cultures. -->
            </p>
        </div>
    </div>
    <section class=" pd">

        <div class="container">
            <div class="row mt">
                {% for b in kuwait_benefits %}
                <div class="col-lg-4 col-md-6 d-flex justify-content-center">

                    <div class="card height d-flex justify-content-center bluecard bcard"
                        style="background-color: {% cycle '#e8f7fa' 'white' %};">
                        <h3 class="card-title">
                            {{b.Title}}
                        </h3>
                        <span class="card-content">
                            {{b.Description|safe}}
                        </span>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </section>


</main>


{% endblock %}